html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: white;
}

.poll-summary {
  padding: 5px;
  margin: 5px;
  width: fit-content;
  block-size: fit-content;

  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.summary-date {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
  background-color: lightgrey;
  font-size: large; 
}

.summary-or {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
  font-size: large; 
  font-weight: bold;
}

.summary-question {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
}

.summary-buttons {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
}

.poll-group {
  padding: 15px;
  margin: 5px;
  display: block;
  text-align: center;
  border: 1px solid grey;
}

.poll-group-header {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
  font-size: large; 
  font-weight: bold;
}

.nav-rightjustify {
  margin-right: 0;
  margin-left: auto;
}

.detail-wouldyou {
  width: 100%;
  display: block;
  margin: 5px, 0px, 10px, 0px;
  text-align: center;
}

.detail-buttons {
  width: 100%;
  display: block;
  margin-top: 15px;
}

.button-div-left {
  float: left;
  text-align: left;
}
.button-div-right {
  float: right;
  text-align: right;
}