html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: white;
}

.span-inline {
  display: inline-block;
}

.span-center {
  text-align: center;
}

.div-center {
  text-align: center;
}

.span-columndivider {
  border-right: 1px solid grey;
  height: 100%;
}

.form-center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.poll-summary {
  padding: 5px;
  margin: 5px;
  width: fit-content;
  block-size: fit-content;

  display: inline-block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.summary-date {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
  background-color: lightgrey;
  font-size: large; 
}

.summary-or {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
  font-size: large; 
  font-weight: bold;
}

.summary-question {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
}

.summary-buttons {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
}

.poll-group {
  padding: 15px;
  margin: 5px;
  display: block;
  text-align: center;
  border: 1px solid grey;
}

.poll-group-header {
  padding: 5px;
  margin: 0;
  display: block;
  text-align: center;
  font-size: large; 
  font-weight: bold;
}

.nav-rightjustify {
  margin-right: 0;
  margin-left: auto;
}

.details-page-main {
  display: block;
  text-align: center;
  margin: auto;
  width: 60%;
}

.detail {
  display: block;
  text-align: center;
}

.detail-wouldyou {
  width: 100%;
  display: block;
  margin: 5px, 0px, 10px, 0px;
  text-align: center;
  font-size: 200%;
}

.detail-questions {
  width: 100%;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 150%;
}

.detail-buttons {
  width: 100%;
  display: block;
  margin-top: 15px;
}

.detail-buttons {
  width: 100%;
  display: block;
  margin: 5px, 0px, 10px, 0px;
  text-align: center;
}

.button-div-left {
  float: left;
  text-align: left;
}
.button-div-right {
  float: right;
  text-align: right;
}

.leader-board {
  display: block;
  text-align: center;
  margin: auto;
  width: 70%;
}

.avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
}

.avatar-nav {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.user-row {
  display: block;
  width: 50%;
  margin: 5px, auto;
  border: 1px solid grey;
  height: fit-content;
  padding: 5px;
}

.user-avatar-column {
  display: inline-block;
  text-align: center;
  width: 30%;
  border-right: 1px solid grey;
  height: 100%;
  margin: 0;
}

.user-activity-count {
  display: inline-block;
  text-align: right;
  width: 33%;
  height: 100%;
  text-align: center;
  font-size: 50px;
  margin: 0;
}